@font-face {
  font-family: "iconfont"; /* Project id 1829880 */
  src: url('iconfont.woff2?t=1652151597042') format('woff2'),
       url('iconfont.woff?t=1652151597042') format('woff'),
       url('iconfont.ttf?t=1652151597042') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding:5px;
}

.icon-huafei:before {
  content: "\e600";
}

.icon-gouwuchekong:before {
  content: "\e602";
}

.icon-gouwuche2:before {
  content: "\e603";
}

.icon-fenxiang:before {
  content: "\e739";
}

.icon-andriod:before {
  content: "\e616";
}

.icon-gouwu:before {
  content: "\e88c";
}

.icon-gouwu1:before {
  content: "\e899";
}

.icon-andriod1:before {
  content: "\e640";
}

.icon-fenxiang_o:before {
  content: "\ebab";
}

.icon-shoucang:before {
  content: "\e61d";
}

.icon-shoucang1:before {
  content: "\eca7";
}

.icon-shoucang2:before {
  content: "\e8c6";
}

.icon-edit:before {
  content: "\e60a";
}

.icon-delete:before {
  content: "\e60e";
}

.icon-delete1:before {
  content: "\e6a6";
}

.icon-edit1:before {
  content: "\e652";
}

.icon-edit2:before {
  content: "\e66a";
}

.icon-edit3:before {
  content: "\e684";
}

.icon-guanzhu:before {
  content: "\e67c";
}

.icon-zuozhe:before {
  content: "\e65c";
}

.icon-yanjing:before {
  content: "\e8c7";
}

.icon-back:before {
  content: "\e606";
}

.icon-LC_icon_search_line:before {
  content: "\e608";
}

.icon-arrowdown:before {
  content: "\e61a";
}

.icon-arrow:before {
  content: "\e601";
}

.icon-fanhui:before {
  content: "\e61f";
}

.icon-arrow1:before {
  content: "\e60d";
}

.icon-shanchu:before {
  content: "\e785";
}

.icon-downarrow:before {
  content: "\e610";
}

.icon-search:before {
  content: "\e617";
}

.icon-back1:before {
  content: "\e609";
}

.icon-add-account:before {
  content: "\e741";
}

.icon-auto:before {
  content: "\e745";
}

.icon-confirm:before {
  content: "\e749";
}

.icon-cc-arrow-down-circle:before {
  content: "\e607";
}

.icon-arrow-sortdown-smal:before {
  content: "\e877";
}

.icon-arrow-lift:before {
  content: "\e743";
}

.icon-close:before {
  content: "\e747";
}

.icon-viewlarger:before {
  content: "\e76c";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

